// _buttons.scss

@use 'variables' as *;
@use 'mixins' as *;

.button {
         @include flex-center;
         padding: $spacing-unit $spacing-unit * 2;
         border: none;
         border-radius: calc($spacing-unit / 2);
         font-family: $font-family;
         font-size: 2rem;
         
         &--primary {
              background-color: $primary-color;
              color: rgb(6, 0, 0);        
         }

         &:hover {
              background-color: ($primary-color, $lightness -10%);
              cursor: pointer;
              transform: scale(1.05);
         }
}